.textContainer {
    width: 100%;
}

.formLink {
    color:var(--persianRed);
}

header > p {
    text-wrap: wrap;
    padding-right: 10px;
    margin: 0 100px 3rem 9em;
}


@media screen and (min-width:300px) and (max-width:767px) {
    header > p {
        margin: 0;
    }
}