.logoHome {
    height:100vh;
    width: 100vh;
    top:0;
    right:12%;
}

.header {
    left:20%;
    top:35%;

    p {
        color: var(--raisinBlack);
    }

    h1 {
        color: var(--raisinBlack);
        font-size: 48px;
    
        .headerText {
            color: var(--persianRed);
        }
    }

    .headerBtn {
        background-color: var(--verdigris);
        border-color: var(--verdigris);
        color: var(--raisinBlack);
    }

    .smIcons {
        svg {
            transition: all .3s ease-out;
            &:hover {
                color:var(--persianRed);
                scale: 1.1;
            }
        }

    }

}

@media screen and (min-width: 150em) {
    .logoHome {
        right:12%;
    }

    .header {
        left:32%;
        top:40%;
    }
    
}

@media only screen and (min-width:300px) and (max-width: 500px) {
    .logoHome {
    /* right:-30%; */
    opacity: 0.7;
    width: 20em;
    height: 20em;
    background-color: var(--verdigris);
    border-radius: 50%;
    top: 15%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right:auto;
    }
    .header {
        left:0;
        top:65%;
        right: 0;
        text-align:center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        /* br:first-of-type {
            content:"";
        } */
    }
    .smIcons {
        justify-content: center;
    }
    .headerBtn {
        align-self: flex-end;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .header {
    left:0;
    margin-left: 2rem;
    }
    .logoHome {
        right: 0;
        left: 30%;
        top:2%;
    }
}
