.myNav {
    background-color: var(--raisinBlack);

    .logo {
        color: var(--linen);

        &:hover {
            color: var(--vanilla)
        }

        .logoImgNav {
            height: 35px;
            width: 35px;
            filter: grayscale(0.8);

            &:hover {
                transition: all 0.3s ease-out;
                filter: grayscale(0);
            }
        }
    }
}

.nav-links {
    a {
        text-decoration: none;
        color: var(--raisinBlack);
        position: relative;

        i {
            transition: all 0.3s ease-out;
        }

        &:hover {
            color: var(--verdigris);

            svg {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            font-size: 11px;
            width: 100%;
            text-align: center;
            color:var(--linen);
            opacity: 0;
            transition: all 0.3s ease-out;
            letter-spacing: 2px;
            position: absolute;
            left: 0;
            bottom: 35%;
        }
    }

    a.home-link {
        &:after {
            content:'HOME';
            color:var(--vanilla);
        }
    }
    a.about-link {
        &:after {
            content:'ABOUT';
            color: var(--vanilla);
        }
    }
    a.portfolio-link {
        &:after {
            content:'WORK';
            color: var(--vanilla);
        }
    }
    a.contact-link {
        &:after {
            content:'CONTACT';
            color: var(--vanilla);
        }
    }

    a.active {
        svg {
        color:var(--persianRed)
      }
    }
}

@media (min-width:300px) and (max-width:1000px) {
    .nav-links {
        a:after{
            opacity: 1;
            font-size: 20px;
            color: var(--linen);
            position: relative;
            float:right;
        }

        a.home-link, a.portfolio-link, a.contact-link, a.about-link {
            color: var(--raisinBlack);
            width: 100%;
            &:after {
                color: var(--linen);
            }
            &:hover {
                background-color: var(--persianRed);
            }
        }
        a.active {
            background-color: var(--persianRed);
        }
    }

}

